/* stylesheet */

*{
    box-sizing: border-box;
}

@font-face {
    font-family: Lato-Regular;
    src: url(Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: DancingScript-SemiBold;
    src: url(Dancing_Script/static/DancingScript-SemiBold.ttf);
}

html, body{
    font-family: Lato-Regular;
    background-image: url(backg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    margin: 20;
    padding: 0;
    scroll-behavior: smooth;
}

p::selection{
    background-color:rgb(231, 168, 222);
    color: rgb(110, 19, 200);
}

.projOutl > div .hasht {
    font-style: italic;
}

#name-container {
    float: left;
    margin-left: 30px;
  }
  
/* chatGPT debugged */
#name-top{
    font-family: DancingScript-SemiBold;
    font-size: 25px;
    margin: 0; /* Removes the default margin */
    padding: 0; /* Adjust padding as needed */
  }

#nonnav {
    float: right;
    margin-right: 30px;
}

#nonnav th {
    padding: 0 10px; 
}

#nonnav th a {
    color: black;
} 

#nonnav th a {
    color: black;
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s;
}

/* pseudoclass */
#nonnav th a:hover {
    color: rgb(232, 24, 205);
    font-size: 1.1em;
}

#nonnav th a:active {
    color: rgb(110, 19, 200);
    font-size: 1.1em;
}

h1 {
    margin-bottom: -20px;
    margin-top: -20px;
    font-family: DancingScript-SemiBold;
    font-size: 90px;
    text-align: center;
}

h2{
    margin-bottom: -20px;
    font-family: DancingScript-SemiBold;
}

dl h2 {
    margin-bottom: 5px;
}

h3 {
    text-align: center;
}


#projDis{
    text-align: center;
    margin-top: -10px;
}

span{
    font-weight: 800;
    font-size: 20px;
}


footer{
    padding: 30px;
    text-align: center;
    display: block;
}


.footer-name{
    margin-bottom: 0;
    font-size: 40px;
}

.footer-copy{
    margin-top: 5px;
}

/* about */

p{
    text-align: center;
}

/* idea-from: https://codepen.io/2Ri/pen/WNPObeG */

.sectionDiv{
    padding: 30px; /* Adjust the padding as needed */
   
}

#portrait-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    overflow: hidden;

    background-color: rgb(250, 241, 252);
}

#portrait-left, #portrait-right {
    width: 50%;
    transition: transform 0.5s ease;
    position: relative; /* Keep this to position your hover-text absolutely */
}

#portrait-left img, #portrait-right img {
    width: 100%;
    height: auto;
    object-fit: contain; /* To ensure the whole image is shown */
}

/* ... Your other styles ... */

@media (max-width: 400px) {
    #portrait-container {
        flex-direction: column;
    }
  
    #portrait-left, #portrait-right {
        width: 40%; /* Full width on smaller screens */
        margin: auto; /* Centering if needed */
    }
  
    #portrait-left img, #portrait-right img {
        height: 300px; /* Height will adjust automatically */
    }
}

.shrink {
    transform: scale(0.8);
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.hover-text {
    position: absolute;
    width: 100%;
    top: 30px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#desBlack{
    text-align: right;
    padding-right: 10%;
}

#portrait-left:hover .hover-text,
#portrait-right:hover .hover-text {
    visibility: visible;
    opacity: 1;
}

/* grid */

.grid-container {
    position: absolute; /* Absolute position over the image */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


#item1 {
    color: white;
    margin: 30px;
    text-align: left;
    font-size: 18px;
    line-height: 1.3; /* Adjust line height for closer lines */
}

#item3{
    grid-row: 2/4;
    grid-column: 1/3; 
    margin-top: -30px;
    text-align: left;
    color: white;
    font-size: medium;
    padding-left: 10%;
}

#item4{
    grid-row: 3/5;
    grid-column: 1/3; 
    margin-top: -30px;
    text-align: left;
    color: white;
    font-size: medium;
    padding-left: 10%;

}

#item3-right{
    grid-row: 2/3;
    grid-column: 3/4; 
    text-align: left;
    color: black;
    font-size: medium;
    margin-left: 30px;
    padding-left: 10%;
}


#item1-right {
    color: black;
    grid-row: 4/5;
    grid-column: 3/3; 
    text-align: right;
    font-size: 18px;
    line-height: 1.3; /* Adjust line height for closer lines */
}

.justFont{
    font-family: Lato-Bold;
    font-size: 30px;
}

.justminFont{
    font-size: 18px;
}

/* aside */

#Designer::first-letter{
    font-family: DancingScript-SemiBold;
    font-size: 60px;
}

#Designer{
    float: left;
    margin-left: 20%;
    font-size: 35px;
    font-family: Lato-Regular;
}

#Director::first-letter{
    font-family: DancingScript-SemiBold;
    font-size: 60px;
}

#Director{
    float: right;
    margin-right: 20%;
    font-size: 35px;
    font-family: Lato-Regular;
}

/* selected works */
*,*::before,*::after{
    box-sizing: inherit;
}

.computerGraphics{
    position: relative;
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    height: 10%;
    margin-top: -60px;
    background-color: rgb(250, 241, 252);
    border-radius: 10px;
    margin: auto;
}

::selection{
    background-color:rgb(231, 168, 222);
    color: rgb(110, 19, 200);
}

.artwork-container{
    position: relative;
    width: 770px;
    height: 470px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.artwork-container .artworks{
    position: absolute;
    top: 0;
    left: 0%;
    width: calc(100% * 5);
    height: 100%;
    transition: 500ms;
    transition: left 0.5s ease-in-out;
}

.artwork-container .artworks img{
    float: left;
    width: calc(100% / 5);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.artwork-container .content{
    position: relative;
    /* z-index: 요소가 겹쳐있을 경우 z-index 속성값이 큰거 먼저*/
    z-index: 100;  
    width: 100%;
    padding: 50px;
    padding-bottom: 75px;
}

.artwork-container .text-content{
    position: absolute;
    bottom: 20px;
    width: calc(100% - 300px);
    max-width: 500px;
    color: rgb(232, 24, 205);
}

.text-content p{
    color:  rgb(110, 19, 200);
}

.artwork-container h2{
    font-size: 2em;
}

.artwork-container .btn-section{
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 200;
    width: fit-content;
}

.artwork-container .slide-btn{
    width: 25px;
    height: 5px;
    margin: 0 4px;
    background-color: rgb(231, 168, 222);
    transition: 300ms;
    cursor: pointer;
}

.artwork-container .slide-btn:first-child{
    background-color: rgb(232, 24, 205);
}

.artwork-container .slide-btn:hover{
    background-color: rgb(232, 24, 205);
}

@media screen and (max-width: 370px) {
    .artwork-container .content{
        padding: 25px
    }

    .artwork-container h2{
        font-size: 2.5em;
    }
}


/* footer */



#getUpdate {
    margin-bottom: 10px; /* Adds space below the heading */
    font-size: 24px; /* Adjust the font size as needed */
    text-align: left; /* Ensures text is aligned to the left */
    width: 100%; /* Ensures the heading takes up the full width */
}

.footerContent{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
}

.footer-flex-two-col{
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    width: 100%; 
    margin: 0 70px;
}

.whoAmI, .form-block {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    padding: 0 20px; 
    margin: 40px 30px;
}


#whoAmI{
    margin: 30px 0;
    text-align: left;
}

.input{
    padding: 16px 12px;
    border: 1px solid rgb(231, 168, 222);
    width: 100%;
    font-size: 16px;
    display: block;
}

#subscribe{
    background-color:  rgb(231, 168, 222);
    cursor: pointer;
}


#subscribe:hover {
    background-color: rgb(232, 24, 205); /* Slightly darker green on hover/focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover/focus */
    color: white;
}


/* page2 */

#iframeDog{
    text-align: center;
}


.textbox {
    display: inline-block;
    border: 2px solid;
    height: 400px;
    width: 565px;
    overflow: auto;
    vertical-align: top; /* To align the top edges of the elements */
}

#moveRight {
    display: inline-block;
    border: 2px none;
    margin-left: 30px;
    width: 450px;
    height: 330px;
    overflow: auto; /* If the content overflows the set height */
    text-align: center;
    vertical-align: top; /* To align the top edges of the elements */
}

h4{
    text-align: left;
}

/* designer */
aside {
    width: 25%;
    float: left;
    padding: 10px;
    text-align: left;
}

aside p{
    text-align: left;
}

section{
    width: 50%;
    float: left;
    padding: 10px;
    text-align: left;
}

section p{
    text-align: left;
}

article {
    width: 25%;
    float: left;
    padding: 10px;
    text-align: left;
}

article p{
    text-align: left;
}

@media screen and (max-width: 600px) {
    aside, section, article{
        width: 100%
    }
} 

/* designer: projects */

/* pseudoclass */

.projOutl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the items in the container */
    align-items: flex-start; /* Align items to the top of the container */
    gap: 7%; /* Add space between the projects */
    margin: 30px;
}

.projects {
    /* border: 3px solid #000; */
    margin-bottom: 20px; 
    padding-top: 50px;
    text-align: left; 
}

.hasht, .buttonPos {
    margin-bottom: 10px;
}

.buttonPos {
    display: block;
    text-align: center; 
    width: 100%; 
    margin: 0 auto;
}

/* contact */
/* Referrance From: https://codepen.io/bobbykorec/pen/qOGbyr */



.contact-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 70%;
    /* border: 2px solid; */
    background-color: rgb(250, 241, 252);
    border-radius: 4px;

}

.form-horizontal{
    width: 50%;
    padding: 10px;
    font-weight: 400;
    /* border: 2px solid; */
    border-radius: 4px;
}

.form-control {
  width: 95%;
  padding: 6px 12px;
  border-radius: 4px;
  /* color: Black; */
  letter-spacing: 1px;
}

.form-control, 
textarea {
  /* max-width: 400px; */
  letter-spacing: 1px;
  border: 2px solid;
}

#wider{
    width: 200%; 
}

/* send */


.send-button {
    background-color: rgb(250, 241, 252); 
    color: black; /* White text color */
    padding: 10px 10%; /* Top and bottom padding of 15px, left and right padding of 30px */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* A subtle shadow */
    cursor: pointer; /* Changes cursor to hand icon */
    font-weight: bold; /* Bold font */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for color and shadow */
    margin-top: 20px; /* Margin on top */
    width: auto; /* Auto width based on content and padding */
    display: inline-block; /* Only as wide as necessary */
    /* border: 2px solid; */
}

.send-button:hover, .send-button:focus {
    background-color: rgb(232, 24, 205); /* Slightly darker green on hover/focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover/focus */
    color: white;
}

.button-container {
    display: flex;
    justify-content: center; /* Center button horizontally */
    padding-top: -30%; /* Space above the button */
}


/* onlinegrooming */
#onlineg{
    color: inherit;
    text-decoration: none; 
    cursor: pointer;
}

#onlineg:hover {
    color: rgb(232, 24, 205);;
    text-decoration: underline;
}

/* compgraphics */
#compgraphics{
    color: inherit;
    text-decoration: none; 
    cursor: pointer;
}

#compgraphics:hover {
    color: rgb(232, 24, 205);;
    text-decoration: underline;
}

#compgraphics:active {
    color: rgb(110, 19, 200);
}
